<!-- Content 2  -->
<div class="section bg-transparent clearfix">
    <div class="container clearfix" >
        <div class="heading-block center border-0" data-heading="W">
        <h3 class="nott 2s0" style="font-size: 30px;">How We Work</h3>
        </div>
    </div>
    
    <div id="oc-features" class="owl-carousel owl-carousel-full image-carousel carousel-widget customjs">
        <!-- CONTENT 2 - GAMBAR 1 -->
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                <img src="demos/business/images/carousel/1.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                <h3>Great Team Work.</h3>
                <p>Uniquely plagiarize dynamic convergence after equity invested experiences. Holisticly repurpose installed base infomediaries before web-enabled methods of empowerment.</p>
                <a href="#" class="button-link">Read More</a>
                </div>
            </div>
        </div>
        <!-- CONTENT 2 - GAMBAR 2 -->
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                <img src="demos/business/images/carousel/2.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                <h3>Amazing Career Prospects.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor mollitia dignissimos, assumenda consequuntur consectetur! Laborum reiciendis, accusamus possimus et similique nisi obcaecati ex doloremque ea odio.</p>
                <a href="#" class="button-link">Read More</a>
                </div>
            </div>
        </div>
        <!-- CONTENT 2 - GAMBAR 3 -->
        <div class="oc-item">
            <div class="row cleafix">
                <div class="col-xl-8">
                <img src="demos/business/images/carousel/3.jpg" alt="Image">
                </div>
                <div class="col-xl-4" style="padding: 20px 0 0 20px;">
                <h3>Beautiful Workspace.</h3>
                <p>Dolor mollitia dignissimos, assumenda consequuntur consectetur! Laborum reiciendis, error explicabo consectetur adipisci, accusamus possimus et similique nisi obcaecati ex doloremque ea odio.</p>
                <a href="#" class="button-link">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="line"></div>
<!--END CONTENT 2-->